html {
  background: linear-gradient(to right, #fc5c7d, #6a82fb) center center
    no-repeat fixed;
  background-size: cover;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  border: 1px solid pink;
  width: 50%;
  height: 50%;
  text-align: center;
}

.list,
button {
  font-size: 1.2rem;
  background: pink;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
}

button {
  background-color: powderblue;
  padding: 8px;
}

.result {
  margin-top: 10px;
  border: 1px solid peachpuff;
  color: rgb(15, 65, 202);
  font-weight: bold;
}
